html{
  font-size: 40px;
  font-family: Tahoma;
}
p {
  height: 150px;
  width: 100px;
  background-color: #eeeff2;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  border-left: 10px dotted #D0D0FF;
}
p:hover{
  background-color: yellow;
  color: goldenrod;
  cursor:grab;
}
.all{
  white-space: nowrap;
}